<body ng-app="app" ng-controller="CharacterCtrl" ng-init="getLadder('<%= @region.abbr %>', '<%= @bracket.name %>')">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-2">
	      <!--Sidebar content-->

			Search: <input ng-model="query">
	    </div>
	    <div class="col-md-10">
	    <!--Body content-->
	        <h2>Classes:</h2>
	        <div ng-repeat="c in characters" ng-show="([c] | filter:query).length > 0">
	        	<h3>{{c.ranking}}. {{c.name}} - {{c.rating}}</h3>
	        </div>
	    </div>
	  </div>
	</div>
</body>