<div class="container-fluid">
	<div class="row text-xs-center m-t-1">
		<div class="col-md-offset-2 col-xs-12 col-md-8">
			<h3>Goal</h3>
			<p>Slash-PvP is a project in development with the goal of presenting relevant World of Warcraft® Arena and Rated Battleground information that is easily filtered and returns quick results.</p>
		</div>
	</div>

	<div class="row text-xs-center m-t-1">
		<div class="col-md-offset-2 col-xs-12 col-md-8">
			<h3>Disclaimer</h3>
			<p>World of Warcraft® and Blizzard Entertainment® are all trademarks or registered trademarks of Blizzard Entertainment® in the United States and/or other countries. These terms and all related materials, logos, and images are copyright Blizzard Entertainment®. This site is in no way associated with or endorsed by Blizzard Entertainment®.</p>
		</div>
	</div>
</div>