<body ng-app="app" ng-controller="CharacterClassesCtrl">
	<div class="container-fluid">
	  <div class="row">
	    <div class="col-md-2">
	      <!--Sidebar content-->

			Search: <input ng-model="query">
	    </div>
	    <div class="col-md-10">
	    <!--Body content-->
	        <h2>Ladder:</h2>
	        <% @ladderRungs.each do |rung| %>
	        <div>
	        	<h3><%= rung.ranking %>. <%= rung.name %>: <%= rung.rating %></h3>
	        </div>
	        <% end %>
	    </div>
	  </div>
	</div>
</body>