/*
 *= require font-awesome
 */

$enable-flex: true;

@import "bootstrap";

/* Responsive Text Alignement */

.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit;
    }
    .text-left-xs {
        text-align: left;
    }
    .text-center-xs {
        text-align: center;
    }
    .text-right-xs {
        text-align: right;
    }
    .text-justify-xs {
        text-align: justify;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit;
    }
    .text-left-sm {
        text-align: left;
    }
    .text-center-sm {
        text-align: center;
    }
    .text-right-sm {
        text-align: right;
    }
    .text-justify-sm {
        text-align: justify;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left;
    }
    .text-center-md {
        text-align: center;
    }
    .text-right-md {
        text-align: right;
    }
    .text-justify-md {
        text-align: justify;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit;
    }
    .text-left-lg {
        text-align: left;
    }
    .text-center-lg {
        text-align: center;
    }
    .text-right-lg {
        text-align: right;
    }
    .text-justify-lg {
        text-align: justify;
    }
}

/* Site Wide */

html {
	//overflow:hidden;
}
body {
	//overflow:hidden;
	background-color: #ECF0F1;
}

h1, h2, h3, h4, h5, h6, p, div, nav, .btn {
    font-family: 'Signika', sans-serif;
    font-weight:100;
    color: #2C3E50;
}

a:focus, a:active, a:visited, .btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus, :focus {
	outline:0;
	text-decoration:none;
}

.btn {
	border-radius:0;
}
.btn-primary, .btn-primary:focus, .btn-primary:active, .btn-primary:hover {
	background-color: #2C3E50;
	border-color: #2C3E50;
	color:#ECF0F1;
}

.form-control {
	border-radius:0;
}

.dropdown-menu {
	border-radius:0;
	padding-top:0;
	margin-top:0;
}

// .dropdown:hover .dropdown-menu {
// 	display: block;
// }

// .open > .dropdown-menu {
// 	display:none;
// }

.dropdown-toggle::after {
	display:none;
}

/* Navs */

nav.row.navbar {
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
}
nav.bg-faded {
	background-color: #2C3E50;
}
.navbar-nav .nav-item + .nav-item {
	margin-left:0;
}

.navbar-nav {
	margin:0;
}

.navbar-hamburger {
	padding-top:0.4rem;
	a {
		color:#ECF0F1;
		text-decoration:none;
	}
}

.navbar-nav .nav-item {
	display:inline-block;
	float:none;
	cursor:pointer;
	&.center{
		margin:0 5px;
		text-transform:uppercase;
	}
}
.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
 .navbar-light .navbar-brand:hover {
 	margin:0;
	color: #ECF0F1;
}

.navbar {
	border-radius:0;
}

.navbar-light .navbar-nav .nav-link {
	color: #ECF0F1;
	opacity: 0.3;
	&:hover {
		opacity:1;
		span {
			border-bottom:2px solid #3498DB;
		}
	}
}
.navbar-light .navbar-nav .nav-link:focus, 
.navbar-light .navbar-nav .nav-link:hover, 
.navbar-light .navbar-nav .open > .nav-link, 
.navbar-light .navbar-nav .open > .nav-link:focus, 
.navbar-light .navbar-nav .open > .nav-link:hover, 
.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .active > .nav-link:focus, 
.navbar-light .navbar-nav .active > .nav-link:hover, 
.navbar-light .navbar-nav .nav-link.open, 
.navbar-light .navbar-nav .nav-link.open:focus, 
.navbar-light .navbar-nav .nav-link.open:hover, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.active:focus, 
.navbar-light .navbar-nav .nav-link.active:hover {
	color: #ECF0F1;
	opacity:1;
	span {
		border-bottom:2px solid #3498DB;
	}
}

.navbar-filter {
	padding:0;
}

/* Tables */

.table {
	background-color:transparent;
	margin-bottom:0;
	thead {
		display:table;
		width:100%;
		table-layout:fixed;
		th {
			border:none;
			cursor:pointer;
			font-size:20px;
			text-transform:uppercase;
			font-weight:100;
		}
	}
	tbody {
		display:block;
		table-layout:fixed;
		.table-active, 
		.table-success, 
		.table-info, 
		.table-warning,
		.table-danger {
			color:white;
		}
		tr {
			th, td {
				border:none;
				font-weight:100;
			}
			display:table;
			width:100%;
			table-layout:fixed;
			cursor:pointer;
		}
		tr.win {
			td {
				color:#445C25;
			}
		}
		tr.loss {
			td {
				color:#E74C3C;
			}
		}
	}
}

.table-info, .table-info > th, .table-info > td{
	background-color: #2C3E50;
}
.table-hover .table-info:hover, .table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
	background-color:rgba(44,62,80,0.7);
}
.table-danger, .table-danger > th, .table-danger > td {
	background-color: #E74C3C;
}
.table-hover .table-danger:hover, .table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
	background-color:rgba(231,76,60,0.7);
}
.table-success, .table-success > th, .table-success > td {
	background-color: #445C25;
}
.table-hover .table-success:hover, .table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
	background-color:rgba(68,92,37,0.7);
}

#ladderContent {
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;
	min-height:150px;
}

/* Filters */

.filterIconSpecs {
	position:relative;
    right:-200px;
    top:10px;
}
.filterIcons {
	text-align:right;
	a.checked {
		img {
			opacity:1;
			filter: grayscale(0%);
	    	-webkit-filter: grayscale(0%);
		}
	}
	img {
		
		border:2px solid white;
		cursor:pointer;
		filter: grayscale(100%);
	    -webkit-filter: grayscale(100%);
	    opacity:.5;
	}
}

.input-group-addon {
	line-height: 38px;
	padding-top:0;
	padding-bottom:0;
}

.col-centered{
	float: none;
	margin: 0 auto;
}

/* Pagination */

.pagination {

	margin:0;
	li {
		a {
			color:#2C3E50;
			border:none;
			background-color:#ECF0F1;
			&:focus {
				outline: 0;
				background-color: #ECF0F1;
				color: #2C3E50;
			}
			&:hover {
				color: #2C3E50;
			}
		}
	}
	li.disabled {
		a, a:hover, a:focus {
			background-color: #ECF0F1;
		}
	}
	li.active {
		a {
			background-color:#2C3E50;
			&:focus, &:hover {
				background-color: #2C3E50;
			}
		}
	}
}

.dropdown-menu {
	min-width:80px;
}